@model GestionDeCentreDAL.Models.Personne

@{
    ViewBag.Title = "DetailsPersonne";
}

@*<h2>Détails de la personne</h2>*@

<div class="card" style="width: 100%">
    <div class="card-header">
        <h4>Données renseignées par @Model.Prenom @Model.Nom :</h4>
    </div>
    <table class="card-table table vertical">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
            
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IdPersonne)</td>
                <td>@Html.DisplayFor(model => model.IdPersonne)</td>
            </tr>
            
            <tr>
                <td>@Html.DisplayNameFor(model => model.NumeroRegistre)</td>
                <td>@Html.DisplayFor(model => model.NumeroRegistre)</td>
            </tr>
            
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nom)</td>
                <td>@Html.DisplayFor(model => model.Nom)</td>
            </tr>
            
            <tr>
                <td>@Html.DisplayNameFor(model => model.Prenom)</td>
                <td>@Html.DisplayFor(model => model.Prenom)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.Rue)</td>
                <td>@Html.DisplayFor(model => model.Rue)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.Ville)</td>
                <td>@Html.DisplayFor(model => model.Ville)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.CodePostal)</td>
                <td>@Html.DisplayFor(model => model.CodePostal)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.Pays)</td>
                <td>@Html.DisplayFor(model => model.Pays)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.NumeroTelephone)</td>
                <td>@Html.DisplayFor(model => model.NumeroTelephone)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.UserLogin)</td>
                <td>@Html.DisplayFor(model => model.UserLogin)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.MotDePasse)</td>
                <td>@Html.DisplayFor(model => model.MotDePasse)</td>
            </tr>                    
        </tbody>        
    </table>
</div>


@*<div>
    <h4>Données renseignées par @Model.Prenom @Model.Nom: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroRegistre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroRegistre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEntreprise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEntreprise)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Modifier son profil", "Edit", new { id = Model.IdPersonne }) @*|*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
